<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <meta name="twitter:card" content="{{ page.ogpimgsize }}">
  <meta name="twitter:site" content="@xullua">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ page.image }}">

  <link rel="shortcut icon" href="//xullua.com/img/favicon.ico">
  <!-- CSS -->
  <link rel="stylesheet" href="//xullua.com/css/color.css">
  <link rel="stylesheet" href="//xullua.com/css/base.css">
  <link rel="stylesheet" href="../text/article.css">

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- アナリティクス -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JDKGJ1E005"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-JDKGJ1E005');
  </script>
  <!-- 広告 -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8816279824306037"
    crossorigin="anonymous"></script>
  <!-- 広告ブロックメッセージ -->
  <script async src="https://fundingchoicesmessages.google.com/i/pub-8816279824306037?ers=1"
    nonce="jvuRCa-d0QId7kT_AZFpMA"></script>
  <script
    nonce="jvuRCa-d0QId7kT_AZFpMA">(function () { function signalGooglefcPresent() { if (!window.frames['googlefcPresent']) { if (document.body) { const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe); } else { setTimeout(signalGooglefcPresent, 0); } } } signalGooglefcPresent(); })();</script>
  <!-- 共通部分 -->
  <script>
    $(function () {
      $("header").load("https://scope.xullua.com/header.html");
      $("footer").load("https://xullua.com/footer.html");
    });
  </script>
</head>

<body>
  <header class="width-s {{ page.language }}"></header>
  <main>
    <div class="top">
      <h1>{{ page.title }}</h1>
      <div class="detail">
        {% assign author_data = site.data.author[page.author] %}
        <a class="author" href="//scope.xullua.com/author/@{{ page.author }}">
          <img src="{{ author_data.icon }}" alt="{{ author_data.name }}">
          <p class="name">{{ author_data.name }}</p>
        </a>
        <p class="date">{{ page.date | date: "%Y/%m/%d" }}</p>
      </div>

      <p class="tags">
        {% for tag in page.tags %}
        <a href="//scope.xullua.com/tags/{{ tag | downcase }}">{{ tag }}</a>
        {% endfor %}
      </p>
      <img src="{{ page.image }}" alt="">
    </div>
    <article>{{ content }}</article>
  </main>
  <footer class="width-s"></footer>
</body>